# We can store explicitly what we need
/subprojects/
!/subprojects/fmt.wrap
!/subprojects/argparse.wrap
!/subprojects/tomlplusplus.wrap
*.txt

.cache/

output/
build/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
